<div class="max-w-5xl m-auto">
  <div class="grid grid-cols-4 gap-6">
    <div *ngFor="let m of member">
      <div
        class="max-w-sm border-black drop-shadow-xl bg-green-500"
        [style.background-color]="m.status.bgColor"
      >
        <div class="p-2 rounded-lg">
          <mat-card (click)="toggleStatus(m)">
            <mat-card-title>{{ m.userId }}/{{ m.name }}</mat-card-title>
            <mat-card-subtitle>{{ m.position }}</mat-card-subtitle>
            <mat-card-content>{{ m.status.status }}</mat-card-content>

            <mat-slide-toggle (click)="toggleIsBreak(m, $event)">
              <div *ngIf="m.isBreak; else elseBlock">
                {{ formattedDate }}から昼休憩
              </div>
              <div>
                <ng-template #elseBlock>勤務中</ng-template>
              </div>
            </mat-slide-toggle>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
